.DS_Store
__pycache__/
*.pyc
.env
dist/
node_modules/
*.egg-info/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
wot_registry.db
examples/thing-descriptions
/chat-ui/
/code-executor/
/copilot/
/docker/
/wot_runtime/
.next/
*.tsbuildinfo
next-env.d.ts
